
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Patient_Stored</title>
</head>
<body>
    <div>
                Information is stored. 
    </div>
</body>
</html>
